<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="Jeunesse.Payment">
      <section name="Common" type="Jeunesse.Payment.ConfigurationHelpers.CommonConfigurationSection, Jeunesse.Payment, Culture=neutral, PublicKeyToken=6671927dd30009b0" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="DataAccess" type="Jeunesse.Payment.ConfigurationHelpers.DataAccessConfigurationSection, Jeunesse.Payment, Culture=neutral, PublicKeyToken=6671927dd30009b0" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="AutoTestDataAccess" type="JeunessePaymentTests.AutoTests.AutomationData.AutomationDataAccessConfigurationSection, JeunessePaymentTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
    <sectionGroup name="capabilities">
      <sectionGroup name="iPhone">
        <section name="BrowserStackCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="BrowserCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
      <sectionGroup name="iPad">
        <section name="BrowserStackCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="BrowserCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
      <sectionGroup name="Android">
        <section name="BrowserStackCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="BrowserCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
	  <sectionGroup name="Windows">
        <section name="BrowserStackCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="BrowserCapabilities" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="user" value="user" />
    <add key="key" value="key" />
    <add key="server" value="hub-euw.browserstack.com/wd/hub" />
  </appSettings>
  <capabilities>
    <iPhone>
      <BrowserStackCapabilities>
        <add key="deviceName" value="iPhone XS" />
        <add key="realMobile" value="true" />
        <add key="osVersion" value="15" />
        <add key="debug" value="true" />
        <add key="local" value="true" />
        <add key="appiumVersion" value="1.22.0" />
        <add key="autoWait" value="0" />
		<add key="disableCorsRestrictions" value="true" />
		<add key="consoleLogs" value="errors" />
      </BrowserStackCapabilities>
	  <BrowserCapabilities>
		<add key="enablePopups" value="true" />
		<add key="allowAllCookies" value="true" />
		 <add key="driver" value="2.48" />
	  </BrowserCapabilities>
    </iPhone>
    <iPad>
      <BrowserStackCapabilities>
        <add key="deviceName" value="iPad Pro 12.9 2018" />
        <add key="realMobile" value="true" />
        <add key="osVersion" value="15" />
        <add key="debug" value="true" />
        <add key="local" value="true" />
        <add key="appiumVersion" value="1.22.0" />
        <add key="autoWait" value="0" />
        <add key="consoleLogs" value="errors" />
		<add key="disableCorsRestrictions" value="true" />
      </BrowserStackCapabilities>
	  <BrowserCapabilities>
		<add key="enablePopups" value="true" />
		<add key="allowAllCookies" value="true" />
		 <add key="driver" value="2.48" />
	  </BrowserCapabilities>
    </iPad>
    <Android>
      <BrowserStackCapabilities>
        <add key="deviceName" value="Google Pixel 6" />
        <add key="realMobile" value="true" />
        <add key="osVersion" value="12.0" />
        <add key="debug" value="true" />
        <add key="local" value="true" />
        <add key="appiumVersion" value="1.22.0" />
        <add key="autoWait" value="0" />
        <add key="consoleLogs" value="errors" />
      </BrowserStackCapabilities>
	  <BrowserCapabilities>
        <add key="driver" value="103.0.5060.24" />
	  </BrowserCapabilities>
    </Android>
    <Windows>
      <BrowserStackCapabilities>
        <add key="os" value="Windows" />
        <add key="osVersion" value="11" />
        <add key="debug" value="true" />
        <add key="local" value="true" />
        <add key="appiumVersion" value="1.22.0" />
        <add key="autoWait" value="0" />
        <add key="consoleLogs" value="errors" />
      </BrowserStackCapabilities>
	  <BrowserCapabilities>
        <add key="driver" value="103.0.5060.24" />
	  </BrowserCapabilities>
    </Windows>
  </capabilities>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="zxing" publicKeyToken="4e88037ac681fe60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.8.0" newVersion="0.16.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
